<div class="container">
    <div class="content mx-5">
        <div class="card">
            <p class="card-h1">Actividad 1 <span class="card-module">MSCI</span></p>
            <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorum vel numquam ea quia, distinctio dicta quod dignissimos deserunt quis odio velit laudantium blanditiis, delectus incidunt, libero doloribus consectetur tempore!</p>
            <div class="card-buttoms">
                <a href="">Descargar</a> <a href="">ver</a>
            </div>
        </div>
        <div class="card">
            <p class="card-h1">Actividad 1 <span class="card-module">MSCI</span></p>
            <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorum vel numquam ea quia, distinctio dicta quod dignissimos deserunt quis odio velit laudantium blanditiis, delectus incidunt, libero doloribus consectetur tempore!</p>
            <div class="card-buttoms">
                <a href="">Descargar</a> <a href="">ver</a>
            </div>
        </div>
        <div class="card">
            <p class="card-h1">Actividad 1 <span class="card-module">MSCI</span></p>
            <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorum vel numquam ea quia, distinctio dicta quod dignissimos deserunt quis odio velit laudantium blanditiis, delectus incidunt, libero doloribus consectetur tempore!</p>
            <div class="card-buttoms">
                <a href="">Descargar</a> <a href="">ver</a>
            </div>
        </div>
        <div class="card">
            <p class="card-h1">Actividad 1 <span class="card-module">MSCI</span></p>
            <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorum vel numquam ea quia, distinctio dicta quod dignissimos deserunt quis odio velit laudantium blanditiis, delectus incidunt, libero doloribus consectetur tempore!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus minus repudiandae ipsam impedit modi vel eos nam eius accusantium! Perspiciatis cupiditate est quae molestias tenetur quod excepturi ullam eligendi nesciunt?
            </p>
            <div class="card-buttoms">
                <a href="">Descargar</a> <a href="">ver</a>
            </div>
        </div>
        <div class="card">
            <p class="card-h1">Actividad 1 <span class="card-module">MSCI</span></p>
            <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorum vel numquam ea quia, distinctio dicta quod dignissimos deserunt quis odio velit laudantium blanditiis, delectus incidunt, libero doloribus consectetur tempore!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sed, ipsam quo, ipsa ab laudantium dolorum blanditiis similique atque, ex excepturi illo deleniti laborum delectus quaerat perferendis impedit eos hic!+
            </p>
            <div class="card-buttoms">
                <a href="">Descargar</a> <a href="">ver</a>
            </div>
        </div>
        <div class="card">
            <p class="card-h1">Actividad 1 <span class="card-module">MSCI</span></p>
            <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorum vel numquam ea quia, distinctio dicta quod dignissimos deserunt quis odio velit laudantium blanditiis, delectus incidunt, libero doloribus consectetur tempore!</p>
            <div class="card-buttoms">
                <a href="">Descargar</a> <a href="">ver</a>
            </div>
        </div>
        <div class="card">
            <p class="card-h1">Actividad 1 <span class="card-module">MSCI</span></p>
            <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorum vel numquam ea quia, distinctio dicta quod dignissimos deserunt quis odio velit laudantium blanditiis, delectus incidunt, libero doloribus consectetur tempore!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sed, ipsam quo, ipsa ab laudantium dolorum blanditiis similique atque, ex excepturi illo deleniti laborum delectus quaerat perferendis impedit eos hic!+
            </p>
            <div class="card-buttoms">
                <a href="">Descargar</a> <a href="">ver</a>
            </div>
        </div>
        <div class="card">
            <p class="card-h1">Actividad 1 <span class="card-module">MSCI</span></p>
            <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorum vel numquam ea quia, distinctio dicta quod dignissimos deserunt quis odio velit laudantium blanditiis, delectus incidunt, libero doloribus consectetur tempore!</p>
            <div class="card-buttoms">
                <a href="">Descargar</a> <a href="">ver</a>
            </div>
        </div>
        <div class="card">
            <p class="card-h1">Actividad 1 <span class="card-module">MSCI</span></p>
            <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorum vel numquam ea quia, distinctio dicta quod dignissimos deserunt quis odio velit laudantium blanditiis, delectus incidunt, libero doloribus consectetur tempore!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sed, ipsam quo, ipsa ab laudantium dolorum blanditiis similique atque, ex excepturi illo deleniti laborum delectus quaerat perferendis impedit eos hic!+
            </p>
            <div class="card-buttoms">
                <a href="">Descargar</a> <a href="">ver</a>
            </div>
        </div>
        <div class="card">
            <p class="card-h1">Actividad 1 <span class="card-module">MSCI</span></p>
            <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorum vel numquam ea quia, distinctio dicta quod dignissimos deserunt quis odio velit laudantium blanditiis, delectus incidunt, libero doloribus consectetur tempore!</p>
            <div class="card-buttoms">
                <a href="">Descargar</a> <a href="">ver</a>
            </div>
        </div>
    </div>
</div>