<main>
    <div class="fullscreen">
        <div class="data-object">
            <div class="data-center">
                <section class="me">
                    <h1 class="title">Kamerr Ezz</h1>
                    <p class="title-sub">Matricula: 172970199-3</p>
                </section>
                <section class="buttoms">
                    <a href="...">MSCI</a>
                    <a href="...">MSCI</a>
                    <a href="...">MSCI</a>
                    <a href="...">MSCI</a>
                    <a href="...">MSCI</a>
                    <a href="...">MSCI</a>
                    <a href="...">MSCI</a>
                    <a href="...">MSCI</a>
                    <a href="...">MSCI</a>
                    <a href="...">MSCI</a>
                </section>
            </div>
        </div>
    </div>
</main>